.hl_form-builder--sidebar .dragdrop-items > div {
	background-color: #fff;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: all-scroll;
}

.hl_form-builder--sidebar .dragdrop-items .active {
	opacity: 0.5;
}

.hl_form-builder--sidebar .dragdrop-items > div:not(:last-child) {
	margin-bottom: 10px;
}

.hl_widget_wrap {

}

.hl_widget_class {
	background-color: #fff;
	padding: 10px 15px;
	border-radius: 4px;
	width: 100%;
}

.form-builder--wrap {
	width: 550px;
	max-width: unset;
}

._clear-element {
	clear: left;
}
